@model ShopHungVuong.Web.Models.ProductModelView
@{ #line 2 "D:\DoAnTotNghiep\ShopHungVuong.Web\Views\Products\RelatedProduct.cshtml"
				/**/

				Layout = null;
}

<div class="product-section section mb-70">
	<div class="container">
		<div class="row">

			<!-- Section Title Start -->
			<div class="col-12 mb-40">
				<div class="section-title-one" data-title="RELATED PRODUCT"><h1>RELATED PRODUCT</h1></div>
			</div><!-- Section Title End -->
			<!-- Product Tab Content Start -->
			<div class="col-12">

				<!-- Product Slider Wrap Start -->
				<div class="product-slider-wrap product-slider-arrow-one">
					<!-- Product Slider Start -->
					<div class="product-slider product-slider-4">
						@if (ViewBag.RelatedProduct != null)
						{
							foreach (var item in ViewBag.RelatedProduct)
							{

								<div class="col pb-20 pt-10">
									<!-- Product Start -->
									<div class="ee-product">

										<!-- Image -->
										<div class="image">

											<a href="@Url.Action("ProducDetail","Products", new { id= item.ProductId})" class="img"><img src="assets/images/product/@item.MainPhote" alt="Product Image"></a>

											<div class="wishlist-compare">
												<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
												<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
											</div>

											<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>Thêm vào giỏ hàng</span></a>

										</div>

										<!-- Content -->
										<div class="content">

											<!-- Category & Title -->
											<div class="category-title">

												<a href="#" class="cat">@item.ProductGroups.Name</a>
												<h5 class="title"><a href="single-product.html">@item.Name</a></h5>

											</div>

											<!-- Price & Ratting -->
											<div class="price-ratting">

												<h5 class="price">@item.Price</h5>
												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half-o"></i>
													<i class="fa fa-star-o"></i>
												</div>

											</div>

										</div>

									</div><!-- Product End -->
								</div>
							}
						}

					</div><!-- Product Slider End -->
				</div><!-- Product Slider Wrap End -->

			</div><!-- Product Tab Content End -->

		</div>
	</div>
</div>